In [1]:
import hashlib

In [2]:
# example with lib
name = '홍길동'
phone_number = '01012345678'
birth_day = '20230101'
salt = 'abc123'

combkey1 = hashlib.sha256((name + phone_number + birth_day + salt).encode()).hexdigest()
print(combkey1)

190329ef9c3299b793367a18a0d3b481af6f2b08c747025b8f6c15093a96b18d

In [3]:
# example with web service
tmp_str = name + phone_number + birth_day + salt
tmp_str

'홍길동0101234567820230101abc123'

In [4]:
# get result value from 'https://emn178.github.io/online-tools/sha256.html'
combkey2 = '190329ef9c3299b793367a18a0d3b481af6f2b08c747025b8f6c15093a96b18d'

In [5]:
combkey1 == combkey2

True

In [6]:
# dataframe에 적용

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('pidicon2023_dataset.csv', low_memory=False)
df

,행번호,회원 ID,성별,생년월일,가구특성,세대구분,추정거주지,단말기코드,멤버십 사용 횟수,멤버십 사용 금액,...,홈쇼핑(지수),국외직접구매(지수),면세점/백화점(지수),화장품(지수),이미용성형(지수),국내여행(지수),해외여행(지수),공연장방문횟수,극장 방문 횟수,자동차 극장 방문횟수
0,1,D10000200,1,1987-12-30,4,1,3117056000,2,0,0,...,0.54983,0.71988,0.60739,0.59609,0.6229,0.81257,0.81556,3,1,1
1,2,D10000225,2,1971-01-21,5,1,3120053000,1,1,1761,...,0.82694,0.79885,0.71105,0.88571,0.90281,0.92985,0.37397,9,13,5
2,3,D10000657,1,1940-11-21,4,1,3114051000,1,0,0,...,0.81568,0.04994,0.16831,0.51137,0.22137,0.77133,0.82122,21,4,9
3,4,D10001185,1,1933-11-15,5,1,3120053000,1,0,0,...,0.95852,0.51806,0.65098,0.72958,0.19201,0.07207,0.69407,12,10,4
4,5,D10001358,1,1979-02-25,4,2,3114062500,1,3,3345,...,0.04566,0.72221,0.1471,0.89151,0.93744,0.86596,0.98461,3,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,D27990777,2,1959-04-06,4,2,3171025000,1,0,0,...,0.30881,0.01893,0.18,0.7424,0.03951,0.87773,0.89242,2,2,11
99996,99997,D27990915,1,1976-10-14,5,1,3111065000,2,3,5586,...,0.02574,0.07813,0.30249,0.79131,0.80797,0.61185,0.05218,4,1,34
99997,99998,D27990930,1,1998-01-08,4,1,3171025900,1,0,0,...,0.11707,0.05216,0.94796,0.9976,0.92819,0.27747,0.45034,6,7,3
99998,99999,D27991081,1,2000-05-29,1,2,3111055000,1,0,0,...,0.90766,0.51147,0.89994,0.66179,0.5022,0.67836,0.99754,7,1,2
99999,100000,D27991209,1,1994-05-20,5,1,3120056000,1,3,3027,...,0.14168,0.21781,0.66834,0.68132,0.12799,0.49159,0.80371,3,2,2

In [9]:
df['combkey'] = df.apply(lambda x: hashlib.sha256((str(x['성별']) +
                                   str(x['생년월일']) +
                                   str(x['가구특성']) +
                                   str(x['홈쇼핑(지수)'])).encode()).hexdigest(), axis=1)
df

,행번호,회원 ID,성별,생년월일,가구특성,세대구분,추정거주지,단말기코드,멤버십 사용 횟수,멤버십 사용 금액,...,국외직접구매(지수),면세점/백화점(지수),화장품(지수),이미용성형(지수),국내여행(지수),해외여행(지수),공연장방문횟수,극장 방문 횟수,자동차 극장 방문횟수,combkey
0,1,D10000200,1,1987-12-30,4,1,3117056000,2,0,0,...,0.71988,0.60739,0.59609,0.6229,0.81257,0.81556,3,1,1,774176f016fb1c872915e3312e2682785dc2036eae6ddb...
1,2,D10000225,2,1971-01-21,5,1,3120053000,1,1,1761,...,0.79885,0.71105,0.88571,0.90281,0.92985,0.37397,9,13,5,62b64f27299d4329eaccc05a6bbea76b2fba39cc201413...
2,3,D10000657,1,1940-11-21,4,1,3114051000,1,0,0,...,0.04994,0.16831,0.51137,0.22137,0.77133,0.82122,21,4,9,907621599add7b07848c86908ffbd206af9a3a59415408...
3,4,D10001185,1,1933-11-15,5,1,3120053000,1,0,0,...,0.51806,0.65098,0.72958,0.19201,0.07207,0.69407,12,10,4,b9f12be7966e6e7c07fdcfde8ed83bef80dd010f6f0416...
4,5,D10001358,1,1979-02-25,4,2,3114062500,1,3,3345,...,0.72221,0.1471,0.89151,0.93744,0.86596,0.98461,3,4,9,a6d0e3b83356399582f12736513b8d00062294c7930257...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,D27990777,2,1959-04-06,4,2,3171025000,1,0,0,...,0.01893,0.18,0.7424,0.03951,0.87773,0.89242,2,2,11,56bdfdf70ac33e0ec9b3f8618e32570dd10445636a96e9...
99996,99997,D27990915,1,1976-10-14,5,1,3111065000,2,3,5586,...,0.07813,0.30249,0.79131,0.80797,0.61185,0.05218,4,1,34,73ab1cec0533e43b6bbfd82b2604e44c840156f06634fa...
99997,99998,D27990930,1,1998-01-08,4,1,3171025900,1,0,0,...,0.05216,0.94796,0.9976,0.92819,0.27747,0.45034,6,7,3,c3cbbb12665047468b822f0f3fa86a3d0b42167c818824...
99998,99999,D27991081,1,2000-05-29,1,2,3111055000,1,0,0,...,0.51147,0.89994,0.66179,0.5022,0.67836,0.99754,7,1,2,4fb10c85999c13346e63bb23c9dbf986b608f54c92dd7d...
99999,100000,D27991209,1,1994-05-20,5,1,3120056000,1,3,3027,...,0.21781,0.66834,0.68132,0.12799,0.49159,0.80371,3,2,2,9c6537d21b569c0fc6f4f489dcc81826af72ba4262e69b...